@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>50x错误页面</title>
    <link rel="stylesheet" type="text/css" href="/Static/style/common.css"/>
    <link rel="stylesheet" type="text/css" href="/Static/style/prompt/prompt.css" />
</head>
<body>
    <div class="height_pre50"></div>
    <div class="fzx">
        <img src="/Static/image/prompt/50x_img.png" alt="50x 错误图片" />
        <p class="fzx_errorMsg">您所访问的页面出现了未知错误</p>
        <p class="fzx_contact">请联系GS系统项目开发组</p>
    </div>
</body>
</html>