@{
    Layout = "~/Views/Apps/Layout/_Layout_Search_Charts_Table1.cshtml";
}

 <div class="search_condition clearfix mr350">
     <p class="fl">
	    <label for="start_time">开始月份：</label>
	    <input type="text" id="start_time" name="start_time"  onclick="setmonth(this)" class="normal_input add_clear_btn w120" />
    </p>
        <p class="fl ml20">
	    <label for="end_time">结束月份：</label>
	    <input type="text" id="end_time" name="end_time" onclick="setmonth(this)" class="normal_input add_clear_btn w120" />
    </p>
     <p class="fl">
        <a class="data_search_btn fl pos_btn normal_btn ml20">搜索</a>
     </p>
</div>

<div class="attention_help_wrap clearfix">
    <a class="app_help">Info</a>
    <a class="download"><img src="/Static/image/common/icon/download.png" />表格数据下载</a>
</div>


@section BottomResource{
    @Scripts.Render("~/bundles/highstock")

    <script src="/Static/js/apps/partial/charts/online_users/charts_bymonth.js"></script>
    <script src="/Static/js/apps/partial/table/online_users/table_bymonth.js"></script>
    <script src="/Static/js/apps/operate/online_users/op_nations_bymonth.js"></script>
    <script src="/Static/js/common/help_info.js"></script>
    <script src="/Static/js/layout/nations.js"></script>
    <script>
        $(function () {
            var state = @ViewBag.AttentionState,
               help_info=@Html.Raw(ViewBag.Desc);
            //bottom代表向下的提示框
            nations.init(state,help_info,'top');
        });
    </script>
}