@{
    Layout = "~/Views/Apps/Layout/_Layout_Search_Charts_Table3.cshtml";
}
<div class="search_condition clearfix mr350">
<p class="fl">
	<label>日期范围：</label>
	<input type="text" id="start_time" name="start_time" class="normal_input add_clear_btn w80" />
    <input type="text" id="end_time" name="end_time" class="normal_input add_clear_btn w80" />
</p>
<p class="fl">
	<label>累计充值额度：</label>
	<input type="text" id="minamount" name="minamount" class="normal_input add_clear_btn w80 " />
    <input type="text" id="maxamount" name="maxamount" class="normal_input add_clear_btn w80" />
</p>
<p class="fl">
    <label>地区:</label>
    <select class="provinces  normal_select">
        <option nodeid="all">所有省</option>
    </select>
    <select class="cities  normal_select">
        <option nodeid="all">所有市</option>
    </select>
    <select class="districts  normal_select">
        <option nodeid="all">所有县区</option>
    </select>
</p>
<p class="fl pr">
    <label for="channeltype" class="channeltype">充值渠道：</label>
    <input id="channeltype" value="所有渠道" name="channeltype" class="channeltype normal_input add_clear_btn w120" channeltype="" channelid="all" />
</p>
<p class="fl">
    <label for="firstpay">仅首充记录：</label>
    <input type="checkbox" id="firstpay" name="firstpay" />
</p>
<p class="fl">
     <label>注册时间：</label>
	<select class="regtime normal_select">
        <option nodeid="all">不限注册时间</option>
        <option nodeid="30">注册30天内的用户</optio>
        <option nodeid="90">注册90天内的用户</option>
	</select>
</p>
<p class="fl">
    <label>充值方式:</label>
    <select class="normal_select paytype">
        <option nodeid="all">所有充值方式</option>
    </select>
</p>
<p class="fl"> 
    <a class="data_search_btn fl pos_btn normal_btn ml20">搜索</a>
</p>
    </div>
<div class="attention_help_wrap clearfix">
    <a class="app_help">Info</a>
    <a class="download"><img src="/Static/image/common/icon/download.png" />表格数据下载</a>
</div>

@section BottomResource{
  @if (CT.BI.WEB.BASE.BaseController.IsResoucePack())
  { 
        @Scripts.Render("~/bundles/paydata/charts_table/js")
  }
  else
  {
         <script src="/Static/js/apps/partial/table/pay_data/table_trend.js"></script>
        <script src="/Static/js/apps/partial/charts/pay_data/charts_trend.js"></script>
        <script src="/Static/js/apps/partial/table/pay_data/table_ratio_money.js"></script>
        <script src="/Static/js/apps/partial/table/pay_data/table_ratio_users.js"></script>
        <script src="/Static/js/apps/partial/charts/pay_data/charts_ratio_money.js"></script>
        <script src="/Static/js/apps/partial/charts/pay_data/charts_ratio_users.js"></script>
  }
    @Scripts.Render("~/bundles/highstock")
    <script src="/Static/js/apps/operate/paydata/common/common.js"></script>
    <script src="/Static/js/apps/operate/paydata/tc_pcpay_trend.js"></script>
    <script>
        var paytypes = @Html.Raw(ViewBag.PayTypes),
            areadata=@Html.Raw(ViewBag.Areas),
            channeldata=@Html.Raw(ViewBag.Channels);
        log(channeldata);
        tc_pcpay_trend.init({
            'paytype':paytypes,
            'areas':areadata,
            'channels':{
                'data':channeldata,
                'id':'HallID',//创建select时用以区分手机和pc
                'name':'HallName'//同上
            }
        });
    </script>

    <script src="/Static/js/common/help_info.js"></script>
    <script src="/Static/js/layout/nations.js"></script>
    <script>
        $(function () {
            var state = @ViewBag.AttentionState,
              help_info=@Html.Raw(ViewBag.Desc);
            //bottom代表向下的提示框
            nations.init(state,help_info,'top');
        });
    </script>
}
   