html, body {
	height: 100%;
	width: 100%;
	border: none;
}
/*********header**********/
#header{
	height:30px;
	padding-top:10px;
	background:#393939;
    border-bottom:2px solid #000;
}
.logo{
	position:relative;
	cursor:pointer;
	z-index: 8;
	width:95px;
}
.logo h1{
	color:#fff;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
	height:30px;
	line-height: 30px;
	padding:0 5px 0 5px;
	width:85px;
	border-radius:0 5px 0 0;
}
.top_triangle{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #fff;
	margin: 12px 0 0 10px;
}
.logo:hover h1{
	background:#666;
}
.logo ul{
	display:none;
	width:140px;
	position:absolute;
	top:30px;
	left:0;
	width: 200px;
	background: #FbFbFb;
	border: 1px solid #ccc;
	line-height: 35px;
	box-shadow: 1px 1px 10px #999;
	padding: 5px 2px;
	z-index: 9;
}
.logo ul li{
	height:35px;
	line-height:35px;
}
.logo ul li:hover{
	background:#dfdfdf;
}
.logo ul li.ul_split{
	line-height: 1px;
	height: 1px;
	background: #e9e9e9;
	margin: 1px 0;
}
.logo ul li a
{
    display:block;
	padding-left: 55px;
    background:url('/Static//image/site/index/menu_icon.png') no-repeat;
}
.logo ul li a:hover{
    text-decoration:none;
}
.logo ul li.site_nav_btn a
{
    background-position:30px 10px;
}
.logo ul li.attention  a
{
    background-position:30px -20px;
}
.logo ul li.app_history a
{
    background-position:30px -50px;
}
.logo ul li.attention_manage a
{
    background-position:30px -80px;
}
.logo ul li.event_manage a
{
    background-position:30px -110px;
}
.logo ul li.version a
{
    background-position:30px -138px;
}
.logo ul li.about_gs a
{
    background-position:30px -169px;
}
.logo ul li.login_to_system a
{
    background-position:30px -200px;
}
.logo ul li.exit_system a
{
    background-position:30px -230px;
}
/*tab_nav*/
.tab_nav{
	height:30px;
	padding:0 120px 0 120px;
	position:relative;
}
.tab_nav_btn_wrap{
	padding-right:30px;
	position:absolute;
	overflow:hidden;
	top:0;
}
.tab_nav_btn_wrap_inner{
	overflow:hidden;
}
.tab_nav_btn{
	color:#282828;
	display:inline-block;
	height:30px;
	line-height: 30px;
	background:#E2E2E2;
	padding:0 10px;
	font-weight: bold;
	border-radius:5px 5px 0 0  ;
	margin-bottom:5px;
	margin-left:5px;
	overflow:hidden;
}
.tab_nav_btn:hover,.tab_nav_on{
	text-decoration:none;
	background:#fff;
	color:#282828;
}
.close_tab_btn{
	width:10px;
	display:inline-block;
	position: relative;
	left:5px;
}
.close_tab_btn b{
	display:none;
    width:10px;
    height:10px;
    background:url("/Static/image/site/index/close.png") no-repeat left 0px;
}
.tab_nav_on .close_tab_btn b,.tab_nav_btn:hover .close_tab_btn b{
	display:inline-block;
}
.close_tab_btn b:hover{
}
/*menu_nav*/
.menu_nav{
	position:absolute;
	top:10px;
	right:120px;
}
.menu_triangle{
	font-size:14px;
	color:#fff;
	cursor:pointer;
    width:20px;
    padding:2px;
    height:13px;
	font-family:"黑体";
	font-weight:bold;
}
.menu_triangle:hover{
    background:#666;
    border-radius:3px;
}
.menu_triangle img
{
    width:13px;
    height:13px;
    position:relative;
    left:4px;
    top:-4px;
}
.menu_nav_ul{
	position:absolute;
	top:21px;
	right:0px;
	display:none;
	z-index: 9;
}
.welcome{
	position:absolute;
	top:20px;
	right:15px;
	color:#fff;
}
/*********container**********/
#container{
	position: relative;
	overflow:hidden;
	margin-right:0px;
	width:100%;
    background:#fff;
    z-index:7;
}
/*main_right*/
#main_right{
	height:100%;
	margin-right:35px;
}
#main_right .frame_wrap{
	height:100%;
	display:none;
}
#main_right .frame_wrap{
	display:block;
}
/*slideNav*/
#slideNav{
	position:absolute;
	right:0;
	top:0;
	height:100%;
	background:#EAEAEA;
	width:35px
}
#slideNav ul
{
    margin-top:50px;
}
#slideNav li{
	float:left;
    height:35px;
    margin-bottom:10px;
}
#slideNav li:hover
{
    background:#fe3400;
}
#slideNav li a{
    position:relative;
	display:block;
	width:25px;
    height:15px;
	padding:10px 5px;
	text-align: center;
	color:#fff;
    background:url("/Static/image/site/index/slide_nav_icon_black.png")  no-repeat;
}
#slideNav li a:hover{
	background:url("/Static/image/site/index/slide_nav_icon_white.png")  no-repeat;
	text-decoration: none;
}
#slideNav .site_nav_btn,#slideNav .site_nav_btn:hover
{
    background-position:8px 7px;
}
#slideNav .attention,#slideNav .attention:hover
{
    background-position:8px -40px;
}
#slideNav .app_history ,#slideNav .app_history:hover
{
    background-position:8px -84px;
}
#slideNav .event ,#slideNav .event:hover
{
    background-position:8px -126px;
}
#slideNav li a span
{
    display:block;
    position:absolute;
    width:0px;
    height:0px;
    font-size:0;
    line-height:35px;
    text-align:center;
    top:0;
    left:-69px;
    background:#333;
}
#slideNav li a:hover span
{
    width:70px;
    height:35px;
    font-size:12px;
    transition: width 0.3s;
    -moz-transition: width 0.3s;	/* Firefox 4 */
    -webkit-transition: width 0.3s;	/* Safari 和 Chrome */
    -o-transition: width 0.3s;	/* Opera */
}
#slideNav li a span b
{
    position:absolute;
    width:0;height:0;  
    line-height:0;  
    border-width:7px;  
    border-style:solid;  
    border-color:transparent transparent transparent #333;  
    right:-14px;
    top:10px;
    display:none;
}
#slideNav li a:hover span b
{
    display:block;
}

.flexible{
	position:absolute;
	bottom:15px;
	right:7px;
    height:20px;
    width:20px;
    border-radius:10px;
}
.close_btn{
    display:block;
    width:20px;
    height:20px;
	background:url('/Static/image/site/index/close_slide.png') 5px 5px no-repeat;
    cursor:pointer;
}
.flexible:hover{
    background:#999;
}

/*菜单栏*/
#tab_menu{
	display:none;
}
.menu_ul{
	position:absolute;
	background: #F9F9F9;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px #999;
	padding: 5px 2px;
	z-index: 9;
	padding:2px;
}
.menu_ul li{
	cursor:pointer;
	padding:0 12px;
	border-radius:2px;
}
.menu_ul li:hover{
	background:#E5E5E5;
}
.menu_ul li a{
	display:block;
	padding-left:15px;
	line-height: 25px;
	height:25px;
	white-space:nowrap; 
}
.menu_ul li a:hover{
	text-decoration:none;
}
.tab_menu_split{
	line-height: 1px;
	height: 1px;
	background: #e9e9e9;
	margin: 1px 0;
}
.dis_close a{
	color:#ccc;
}
.menu_ul li.dis_close:hover{
	background:#F9F9F9;
	cursor:default;
}
/*弹出层*/
.mask_layer{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 99;
	background:#000;
	opacity:0.8;
	display:none;
}
.slide_frame_wrap,.site_map_frame_wrap{
	width:94%;
	height:92%;
	position:absolute;
	top:4%;
	left:3%;
	z-index: 999;
	box-shadow: 0px 0px 20px #000;
	display:none;
	background:#ffffff;
    border-radius:5px;
    overflow:hidden;
}
.close_slide_frame_btn,.close_site_map_frame_btn{
	position: absolute;
    width:22px;
    height:20px;
    text-align:center;
    line-height:20px;
    background:#999;
	top:0px;
	right:0px;
    color:#333;
    font-size:14px;
    font-weight:bold;
    border-radius:1px;
    box-shadow:1px -1px 5px #000;
    cursor:pointer;
}

.vertical_line
{
    height:20px;
    border-left:1px solid #4E4F50;
    border-right:1px solid #000;
    margin-right:10px;
}
.index_img
{
    display:block;
    width:1000px;
    margin:0 auto;
    margin-top:50px;
}













