@using CT.BI.WEB.BASE

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
     @if (BaseController.IsResoucePack())
    { 
        @Styles.Render("~/bundles/comlib/css")
        @Scripts.Render("~/bundles/comlib/js")
        @Scripts.Render("~/bundles/busilib/js")
    }
    else{
        <link rel="stylesheet" href="/Static/style/common.css" />
        <link rel="stylesheet" href="/Static/plugins/x_layout/layout.css" />
        <link rel="stylesheet" href="/Static/plugins/x_table/table_little.css" />
        <link rel="stylesheet" href="/Static/plugins/jdpicker/1.0/jdpicker.css" />
         
         <script src="/Static/plugins/jquery/1.11/jquery.min.js"></script>
         <script src="/Static/js/config.js"></script>
         <script src="/Static/js/common.js"></script>
         <script src="/Static/plugins/jdpicker/1.0/jquery.jdpicker.js"></script>
         <script src="/Static/plugins/select_month/DatePicker.js"></script>
         <script src="/Static/plugins/x_layout/jquery.layout.js"></script>
         <script src="/Static/plugins/x_adaption/adaption_w_h.js"></script>
         <script src="/Static/plugins/x_table/jquery.table.js"></script>
         <script src="/Static/plugins/x_clearValue/jquery.clearValue.js"></script>
         <script src="/Static/plugins/x_labelTip/jquery.label_tip.js"></script>
         <script src="/Static/js/common/getdata/get_origin_data.js"></script>
         <script src="/Static/js/common/getdata/get_table_data.js"></script>
         <script src="/Static/js/common/pay_attention.js"></script>
         <script src="/Static/js/common/download_search_table.js"></script>
         <script src="/Static/js/common/date_of_judgment.js"></script>
    }
    
    <link rel="stylesheet" href="/Static/plugins/x_layout/layout.css" />
    <link rel="stylesheet" href="/Static/plugins/x_table/table_little.css" />
    <link href="/Static/style/apps/partial/search_charts_table.css" rel="stylesheet" />
    <style>
        .table_show
        {
            width:50%;margin:0 auto;
        }
        .table_con_wrap
        {
            border-left:1px solid #dedede;
        }
        #copy_btn
        {
            position:absolute;
            top:50px;
            right:50px;
            width:80px;
            height:25px;
            line-height:25px;
            cursor:pointer;
            vertical-align:middle;
            display:none;
        }
        #userid_con
        {
            display:none;
        }
    </style>
</head>
<body>
    <div class="header clearfix">
        <div class="search_condition clearfix mr130">
            <p class="fl">
	            <label for="selected_time">请选择日期：</label>
                <input type="text" id="selected_time" name="selected_time" class="normal_input add_clear_btn w120" />
            </p>
                     <p class="fl ml20">
	                    <label for="min_times">登陆次数下限：</label>
	                    <input type="text" id="min_times" name="min_times" value="20" class="normal_input add_clear_btn w120" />
                    </p>
                 <p class="fl">
                    <a class="data_search_btn fl pos_btn normal_btn ml20">搜索</a>
                 </p>
            </div>
            <div class="attention_help_wrap clearfix">
                <a class="download"><img src="/Static/image/common/icon/download.png" />表格数据下载</a>
            </div>
         </div>
    <div class="container clearfix self_adaption_height">
        <div class="data_show inherit_parent_height">
            <div class="table_show inherit_parent_height">

            </div>
            <button id="copy_btn">复制用户id</button>
            <input id="userid_con" value="" />
        </div>
    </div>
    <script src="/Static/js/apps/partial/table/login_users/table_peruser.js"></script>
    <script src="/Static/plugins/zeroclipboard/ZeroClipboard.js"></script>
    <script src="/Static/js/apps/operate/login_users/op_tchalls_peruser.js"></script>
</body>
</html>
