@{
    Layout = "~/Views/Apps/Layout/_Layout_Search_Table1.cshtml";
}

  <div class="search_condition clearfix mr130">
 <p class="fl">
	        <label for="start_time">开始日期：</label>
	        <input type="text" id="start_time" name="start_time" class="normal_input add_clear_btn w120" />
        </p>
         <p class="fl ml20">
	        <label for="end_time">结束日期：</label>
	        <input type="text" id="end_time" name="end_time" class="normal_input add_clear_btn w120" />
        </p>
     <p class="fl">
        <a class="data_search_btn fl pos_btn normal_btn ml20">搜索</a>
     </p>
</div>
<div class="attention_help_wrap clearfix">
    <a class="download"><img src="/Static/image/common/icon/download.png" />表格数据下载</a>
</div>

@section BottomResource{
    @if (CT.BI.WEB.BASE.BaseController.IsResoucePack())
     { 
        @Scripts.Render("~/bundles/loginusers/charts_table/js")
     }
     else
     {
        <script src="/Static/js/apps/partial/charts/login_users/charts_byday.js"></script>
        <script src="/Static/js/apps/partial/charts/login_users/charts_perday.js"></script>
        <script src="/Static/js/apps/partial/table/login_users/table_byday.js"></script>
        <script src="/Static/js/apps/partial/table/login_users/table_compare.js"></script>
        <script src="/Static/js/apps/partial/table/login_users/table_perday.js"></script>
     }
    @Scripts.Render("~/bundles/highcharts")
    <script src="/Static/js/apps/operate/login_users/op_tcdistricts_compare.js"></script>
}