/*
* /Static/style/apps/partial/login_op_by_day.css
*/

.container
{
    position:relative;
}
.show_nav
{
    width:30px;
    background:#D1D1D1;
    position:absolute;
    text-align:center;
    top:0;
    right:0;
}
.show_nav a
{
    cursor:pointer;
    display:block;
    padding:5px;
}
.show_nav a:hover,.show_nav a.cur
{
    text-decoration:none;
    background:#666;
    border-right:2px solid #333;
    color:#fff;
}
.data_wrap
{
    padding-right:30px;
}
.data_wrap,.show_nav
{
    display:none;
}