@{
    Layout = "~/Views/Apps/Layout/_Layout_Search_Charts_Table1.cshtml";
}

    
 <p class="fl">
	        <label for="start_time">开始日期：</label>
	        <input type="text" id="start_time" name="start_time" class="big_input add_clear_btn " />
        </p>
         <p class="fl ml20">
	        <label for="end_time">结束日期：</label>
	        <input type="text" id="end_time" name="end_time" class="big_input add_clear_btn " />
        </p>
        <a class="data_search_btn fl pos_btn big_btn ml20">搜索</a>
        <a class="download"><img src="/Static/image/common/icon/download.png" />表格数据下载</a>

@section BottomResource{
    @Scripts.Render("~/bundles/highstock")
    <script src="/Static/js/apps/partial/charts/online_users/charts_byday.js"></script>
    <script src="/Static/js/apps/partial/table/online_users/table_byday.js"></script>
    <script src="/Static/js/apps/operate/online_users/op_cities2_byday.js"></script>
}