@{
    Layout = "~/Views/Apps/Layout/_Layout_Search_Charts_Table1.cshtml";
}

<div class="search_condition clearfix mr130">
    <p class="fl">
        <label for="selected_time">请选择日期：</label>
        <input type="text" id="selected_time" name="selected_time" class="normal_input add_clear_btn w120" />
    </p>
    <p class="fl">
        <a class="data_search_btn fl pos_btn normal_btn ml20">搜索</a>
    </p>
</div>
<div class="attention_help_wrap clearfix">
    <a class="download"><img src="/Static/image/common/icon/download.png" />表格数据下载</a>
</div>

@section BottomResource{
    @Scripts.Render("~/bundles/highstock")
    <script src="/Static/js/apps/partial/charts/online_users/charts_perday.js"></script>
    <script src="/Static/js/apps/partial/table/online_users/table_perday.js"></script>
    <script src="/Static/js/apps/operate/online_users/op_cities1_perday.js"></script>
}